
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//tab sidebar
@import '~material-bottom-nav';

//toolbar
/*@import "@material/top-app-bar/mdc-top-app-bar";*/

//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$bottom-nav-action-horizontal-margin: 4px; // reduce the horizontal gutter between actions
$bottom-nav-icon-font-size: 28px; // increase the icon size
* {
	letter-spacing: 1px;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
    color: #35434e;
}

.bottom-nav {
    display: none;
}
.mdc-top-app-bar{
    display: none;
}
.app-bar{
    display: none;
}
@media(max-width: 768px){
    .bottom-nav {
  @include bottom-nav($background-color: #fff, $active-color: #96c228, $inactive-color: #000, $hide-inactive-labels: false);
    }
}

.border-top-green{
    border-top: 4px solid #96c228;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



.btn{
  border-radius: unset;
}
.btn-primary {
    color: #fff;
    background-color: #4a9bc8;
    border-color: #4a9bc8;
}
.btn-primary:hover {
    color: #fff;
    background-color: #4a9bc8;
    border-color: #4a9bc8;
}
.btn-secondary {
    color: #fff;
    background-color: #96c228;
    border-color: #96c228;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #96c228;
    border-color: #96c228;
}
.input-group input{
	border-radius: 0px !important;
	height: 46px !important;
}
.form-control{
	height: 50px !important;
}

/*home page*/
.no-project-logo img{
    width: 170px;
}
.home-banner{
	height: 90vh;
	background-color: #fff;
}
.home-banner .home-banner-content p{
	font-size: 22px;
}
.home-banner .banner-img img{
	width: 560px;
}
.logo-img-section img{
	width: 200px;
}
.feature p{
	font-size: 17px;
}
.feature h3{
	font-weight: bold;
}
.feature button{
	padding: 10px 112px;
}
.home-banner .feature-blog img{
	width: 80px;
}
.home-banner .custom-home-page{
    width: 730px;
}
.home-banner .feture-sectiob-blog p{
	font-size: 15px;
}
.custom-navbar{
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}
.custom-navbar ul li a{
	color: #000 !important;
	font-size: 17px;
}
.get-started-btn button{
	margin-top: 8px;
}
.footer-links{
	width: 67%;
    text-align: center !important;
    margin: 0 auto;
    flex: 1;
}
.footer-links a{
    color: #a3a3a3 !important;
    flex: 1;
}


/*writer*/
.card{
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}
.custom-writer-list{
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
}
.custom-writer-list .classroom-writer-section{
    margin-left: 15px;
}
.custom-writer-list .classroom-writer-section h2.post-classic-title{
    font-size: 20px;
    text-transform: capitalize;
}
.custom-writer-list .classroom-writer-section h2.post-classic-title a{
    text-decoration: none;
    color: #35434e;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.custom-writer-list .writer-view-btn button{
    padding: 6px 25px;
}
.custom-writer-list .counter-writer-footer{
    background-color: #ccc;
}

.register-btn {
	background: #96c228;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    letter-spacing: 1px;
}
.my-email-input{
    flex: 1;
    margin-right: 11px;
}
.custom-navbar ul li.register-btn a {
    color: #fff !important;
}
.my-email-input input{
    width: 345px;
    height: 46px;
}
.get-started-btn a{
    height: 49px;
    margin-top: 6px;
    padding: 11px;
}
.attachments-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% + 20px);
    margin-bottom: 0px;
}
.attachment-box span {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    flex: auto;
}
.attachment-box i {
    display: block;
    font-style: normal;
    font-size: 14px;
    color: #999;
    font-weight: 500;
    margin-top: 10px;
    position: absolute;
    /*bottom: 10px;*/
    transition: .3s;
}
.attachment-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .15) #fff;
    transition: .3s;
    border-radius: 0 0 0 4px;
}

/*oderder page*/
.custom-table-order thead tr th{
    border-top: none !important;
    font-size: 17px;
}
/*order show page*/
.view-order-section .drag-drop-upload{
    border: 2px dashed #ccc;
    padding: 25px;
}
.sample-assignemt span{
    font-size: 12px;
    color: #807b7b;
}
.cancelled-system a{
    color: #2A2A2A !important;
    background-color: #eaeaea;
}
.reserved-money p{
    color: #807b7b;
}
.reserved-money .compensation_form_imitation {
    display: flex;
}
.reserved-money .b-release-money__input {
    height: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ccc;
    max-width: 65px;
    margin: 0;
    -webkit-appearance: none;
    box-shadow: none;
}
.reserved-money .btn {
    display: inline-block;
    padding: 10px 22px;
    vertical-align: middle;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: .05em;
    text-transform: none;
    background-image: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    outline: none;
    transition: ease-in-out 0.15s;
    transition-property: color,background,opacity,border,box-shadow;
}
.uploaded-writter-file p{
    color: #807b7b;
}
.user-profile-tab-section p{
    font-size: 17px;
    color: #807b7b;
}
/*profile writer*/
.profile-details-user img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.user-active-section span{
    font-size: 12px;
}
.user-active-section h6{
    font-size: 17px;
}
.profile-wallet-section a{
    text-decoration: none !important;
}
.fun-fact-text p{
    font-size: 14px;
    color: #807b7b;
}
.add-bank-detail span{
    font-weight: bold;
    font-size: 30px;
}
.custom-writer-list:hover, .custom-writer-list:focus{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    cursor: pointer;
}
.freelance-status {
    position: absolute;
    left: 32px;
    top: 15px;
    background: #01c73d;
    color: #ffffff;
    text-transform: capitalize;
    padding: 4px 18px;
    border-radius: 50px;
    font-weight: 500;
}
.flc-rate{
    position: absolute;
    right:32px;
    top: 20px;
    font-size:18px;
    font-weight: 500;
    font-family: inherit;
}
.classroom-writer-section span{
    font-weight: 500;
    font-size: 15px;
    display: block;
    color: #677484;
    font-family: 'Montserrat', sans-serif;
}
.freelance-box-extra ul {
    margin: 15px 0;
    padding: 0;
}
.freelance-box-extra ul li {
    display: inline-block;
    list-style: none;
    padding: 3px 15px;
    border: 1px solid #b9c5ce;
    border-radius: 50px;
    margin: 5px;
    font-weight: 500;
    color: #657180;
}
.freelance-box-extra p{
    font-family: 'Montserrat', sans-serif;
}
/*a.btn.btn-freelance:hover, a.btn.btn-freelance:focus{
    background:#01c73d;
    color:#ffffff;
}*/
a.btn.btn-freelance {
    padding: 12px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    /*border-top: 1px solid #e6e1e1;*/
    border-radius: 0;
    /*color: #657180;*/
}
.freelance-box-extra ul li.more-skill {
    color: #ffffff;
    border-color: #1194f7;
}
.freelance-box-extra ul li {
    display: inline-block;
    list-style: none;
    padding: 3px 15px;
    border: 1px solid #b9c5ce;
    border-radius: 50px;
    margin: 5px;
    font-weight: 500;
    color: #657180;
}
/*project card*/
.actions ul {
    display: none;
}
.brows-job-company-img {
    width: 80px;
    margin: 10px auto;
    height: 80px;
    display: inline-block;
    border: 1px solid #e4e4e4;
    background: #fff;
    vertical-align: middle;
    border-radius: 50%;
    line-height: 80px;
}
.brows-job-company-img img {
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    max-width: 50px;
    line-height: 50px;
}
.project-list-detalis h4{
    color: #5b6d77;
    font-size: 20px;
    padding: 0;
    margin-bottom: 0;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}
.project-list-detalis p{
    text-transform: capitalize;
    font-size: 12px;
    color: #707c88;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
}
.brows-job-type span {
    position: absolute;
    padding: 4px 15px;
    top: 10px;
    right: 0;
    color: #ffffff;
    line-height: 1.4;
    font-size: 12px;
    border-radius: 2px 0 0 2px;
}

.full-time {
    background: #03a504;
}
.tg-themetag {
    top: 7px;
    left: -5px;
    z-index: 2;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    background: #ff526c;
    padding: 5px 3px 3px 10px;
    text-transform: uppercase;
}
.tg-featuretag:before {
    top: 0;
    left: 100%;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 10px solid #ff526c;
}
.tg-featuretag:before, .tg-featuretag:after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
}
.tg-featuretag:after {
    top: 100%;
    left: 0;
    border-top: 5px solid #eb344f;
    border-left: 5px solid transparent;
}

.tg-featuretag:before, .tg-featuretag:after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
}
.grid-view-caption {
    margin: 0em 0 0 0;
    padding: 0;
    border-top: 1px solid #eaeff5;
    display: flex;
    width: 100%;
}
.grid-view-caption li:first-child {
    border-right: 1px solid #eaeff5;
}

.grid-view-caption li {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 10px 0;
    line-height: 2.2;
    text-align: center;
}
.grid-view-caption .brows-job-location {
    margin-top: 0px;
}
.grid-view-caption .brows-job-location p, .grid-view-caption .brows-job-sallery {
    font-size: 14px;
    margin-bottom: 0;
}

.grid-view-caption li p {
    margin-bottom: 0;
}
.brows-job-location p {
    font-size: 18px;
    color: #5a6f7c;
}
.grid-view-caption .brows-job-location p i {
    margin-right: 0;
}

.grid-view-caption li i {
    padding-right: 10px;
}
.brows-job-location p i {
    font-size: 16px;
    margin-right: 10px;
}
/*project gateway*/
.apply-job-header {
    margin-bottom: 40px;
}
.apply-job-header h4 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
.cl-success {
    color: #11b719 !important;
    font-family: 'Montserrat', sans-serif;
}
.apply-job-header a i, .apply-job-header span i {
    margin-right: 5px;
}
.apply-job-detail {
    margin-bottom: 30px;
     font-family: 'Montserrat', sans-serif;
}
.apply-job-detail p{
    font-size: 15px;
}
.apply-job-detail h5 {
    font-size: 18px;
}
ul.skills, ul.job-requirements {
    margin: 15px 0;
    padding: 0;
}
ul.job-requirements li {
    list-style: none;
    display: block;
    padding: 7px 0;
    font-family: 'Montserrat', sans-serif;
}
ul.job-requirements li span {
    display: inline-block;
    width: 165px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
ul.skills li {
    display: inline-block;
    list-style: none;
    padding: 3px 15px;
    border: 1px solid #b9c5ce;
    border-radius: 50px;
    margin: 5px;
    font-weight: 500;
    color: #657180;
}
h4.sidebar-box-detail {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
ul.status-detail {
    width: 100%;
    display: table;
    margin: 20px 0;
}

.sidebar-box-extra ul {
    margin: 15px 0;
    padding: 0;
}
ul.status-detail li {
    display: inline-block;
    width: 33%;
    padding: 10px 0;
    border: none;
    border-radius: 0;
    text-align: center;
    display: table-cell;
    font-size: 13px;
}

.sidebar-box-extra ul li {
    display: inline-block;
    list-style: none;
    padding: 3px 15px;
    border: 1px solid #b9c5ce;
    border-radius: 50px;
    margin: 5px;
    font-weight: 500;
    color: #657180;
}
ul.status-detail li>strong {
    display: block;
    font-weight: 600;
    font-size: 16px;
}

.custom-writer-profiles p{
    text-transform: capitalize;
    font-size: 14px;
    color: #707c88;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
}
/*review*/
.container-detail-box {
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    padding: 30px 30px;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid #eaeff5;
}
.review-list {
    display: table;
    width: 100%;
    margin-bottom: 50px;
}
.review-thumb {
    max-width: 80px;
    float: left;
    display: table-cell;
}
.review-detail {
    display: table;
    margin-left: 100px;
}
.review-detail h4 {
    margin: 0 0 3px 0;
    font-family: 'Montserrat', sans-serif;
}
.review-detail h4 span {
    float: right;
    opacity: 0.8;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.review-detail .re-designation {
    font-size: 14px;
    opacity: 0.9;
}
.review-detail p {
    margin: 15px 0 25px 0;
    font-family: 'Montserrat', sans-serif;
}
.sidebar-wrapper {
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 30px;
    position: relative;
    transition: .4s;
    padding: 0 25px 30px;
    border: 1px solid #eaeff5;
}
.sidebar-box-header {
    padding: 15px 0;
    margin-bottom: 20px;
}

.bb-1 {
    border-bottom: 1px solid #eaeff5 !important;
}
.sidebar-box-header h4 {
    font-size: 17px;
    margin: 5px 0;
}
ul.social-share {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul.social-share li {
    width: 33.3333%;
    display: inline-block;
    padding: 10px;
}
ul.social-share li>a.fb-share {
    color: #3b5998;
    box-shadow: 0 5px 25px 0 rgba(59,89,152,0.15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(59,89,152,0.15);
}

ul.social-share li>a {
    box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41,128,185,0.15);
    width: 100%;
    height: 80px;
    text-align: center;
    display: inline-block;
    line-height: 80px;
    border-radius: 4px;
    font-size: 25px;
    color: #b7c4d0;
}
ul.social-share li>a.tw-share {
    color: #4ac9ff;
}
ul.social-share li>a.gp-share {
    color: #f3222a;
    box-shadow: 0 5px 25px 0 rgba(243,34,42,0.15);
}
ul.social-share li>a.in-share {
    color: #ec3e7d;
    box-shadow: 0 5px 25px 0 rgba(236,62,125,0.15);
}
ul.social-share li>a.li-share {
    color: #007aaa;
    box-shadow: 0 5px 25px 0 rgba(0,122,170,0.15);
}
ul.social-share li>a.be-share {
    color: #0067ff;
    box-shadow: 0 5px 25px 0 rgba(0,103,255,0.15);
}
.wizard > .steps li.first a {
    background: #90bf1c !important;
}
.wizard > .steps li.checked a {
    background: #90bf1c !important;
}
.account-info {
    /*background-color: #4a4a4a;*/
    padding: 45px;
    color: #000;
    height: 370px;
}

@media(max-width: 768px){
    .home-banner .custom-home-page {
    width: 100%;
    }
    .font-weight-bold {
    font-size: 30px;
    }
    .home-banner .home-banner-content p {
    font-size: 14px;
    letter-spacing: 2px;
    }
    .home-banner .feature-blog img {
    width: 50px;
    }
    .feture-sectiob-blog h5{
    font-size: 15px;
    }
    .footer-links a {
    font-size: 10px;
    }
    .footer-links {
    width: 100%;
    }
    .my-email-input{
    margin-right: 9px !important;
    }
    .my-email-input input{
    width: 100%;
    }
    .custom-navbar ul li{
    margin: 10px 17px;
    }
    .feture-sectiob-blog p{
        display: none;
    }
    .get-started-btn a{
        width: 100%;
    }
}

.parsley-error {
    border: 1px solid red;

}

.parsley-errors-list li{
    color: red;
}
ul.parsley-errors-list{
    padding:0px;
    list-style: none;
}

/*writer quiz section*/
.writer-quize-custom{
    background-color: #fbfbfb;
}
.solve-quize-button a{
    width: 200px;
}

textarea.form-control {
    height: 100px !important;
}

.card{
  box-shadow: none !important;
}
.star-on-png, .star-off-png, .star-half-png {
    color: #f5d900;
    font-size: 20px !important;
}


/* Redesign */
.card {
    box-shadow: none !important;
    border: 1px solid #eaeced;
    border-radius: 5px;
}

input {
    border-radius: 4px;
}

.btn {
    border-radius: 4px;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
}

.btn-primary {
    background-color: #4a9bc8 !important;
    border-color: #4a9bc8 !important;
}


.loginSignUpSeparator {
    border-top: 1px solid #cbd2d6;
    position: relative;
    margin: 14px 0 10px;
    text-align: center;
}
.loginSignUpSeparator .textInSeparator {
    background-color: #fff;
    padding: 0 .5em;
    position: relative;
    color: #6c7378;
    top: -.7em;
}

.btn-grey {
    padding-top: 9px;
    background-color: #E1E7EB;
    color: #2C2E2F;
}

.projectvala-logo {
    margin: 0 auto 20px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.projectvala-logo-long {
    background: transparent url(/img/logo-navbar.png) top center no-repeat;
    background-size: contain;
    width: 250px;
    height: 30px;
    display: block;
}

.app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: #F7F9FA;
    box-sizing: border-box;
    width: 240px;
    min-width: 240px;
    height: 100%;
    padding: 0px;
}

.app-sidebar .links {
    margin-top: 30px;
}


.app-sidebar .links .nav-link {
   font-size: 16px;
    line-height: 16px;
    color: #637282;
    display: block;
    -ms-flex: 1;
    padding: 10px 0px 10px 40px;
    text-decoration: none;
}

.app-sidebar .links .nav-link.active {
    color: #4a9bc8 !important;
}


.sidebar-margins {
    margin-left: 270px;
    margin-right: 40px;
}

.headline {
    padding-bottom: 20px;
    border-bottom: solid 1px #E6E8EB;
}

.headline h3{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 8px;
}

.empty-box {
    width: 600px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 70px;
}

.empty-box h4 {
    font-size: 27px;
    font-weight: normal;
}

.empty-box p {
    color: #959595;
    font-size: 17px;
}
.tour-backdrop {
    position: absolute;
    z-index: 1100;
    background-color: #000;
    opacity: 0.75 !important;
    filter: alpha(opacity=80);
}

sup.error {
    color: red;
}

.info-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.info-body {
 font-size: 17px;
}

.info-icon img {
    width: 160px;
    margin-bottom: 27px;
}

/* Redesign ends */

.select2-container--default .select2-selection--multiple{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.custom-file-upload {
    background: #f3f3f3;
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
}

.custom-file-upload a:hover {
    color: #fff;
    text-decoration: none;
}

.attachment-title{
    color: #5b6d77;
    font-size: 18px;
    margin-bottom: 12px;
    display: block;
    margin-top: 5px;
}

.full-time.Completed{
    background: #95c127 !important;
}
.full-time.Pay{
    background: #424242 !important;
}
.full-time.Posted{
    background: #424242 !important;
}
.full-time.Ongoing{
    background: #4f9dc9 !important;
}
.full-time.newrequest, .full-time.Requested {
    background-color: #78a210;
}

ul.grid-view-caption, ul.grid-view-caption p {
    color: #969696;
    /*text-align: center;*/
}
.grid-view-caption li:nth-child(2){
    text-align: right !important;
    padding-right: 10px;
}

.grid-view-caption li:nth-child(1) {
    text-align: left !important;
    padding-left: 10px;
}

.grid-view-caption{
    background: #f1f1f1;
}

.btn-outline-success {
    color: #96c228;
    background-color: transparent;
    background-image: none;
    border-color: #96c228;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #96c228;
    border-color: #96c228;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #96c228;
    border-color: #96c228;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #95c127;
    border-color: #95c127;
}
.pagination .page-link{
    color: #95c127;
}
.text-success {
    color: #96c228 !important;
}
.cl-success {
    color: #7fab13 !important;
}


.fab {
    width: 50px;
    height: 50px;
    background-color: #7bad00;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 10px 0 #666;
    box-shadow: 0 6px 6px 0 #666;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    font-size: 38px;
    color: white;
    text-align: center;
    line-height: 52px;
    position: fixed;
    right: 11px;
    bottom: 84px;
}
.file-listing{
    display: none;
}

.fab:hover {
   box-shadow: 0 2px 4px 0 #666;
   text-decoration: none;
   color: #fff;
   transform: scale(1.05);
}

.cancel-modal {
    display: block;
    text-align: center;
    margin-top: -20px;
}
.datedropper, .timedropper {
    background-color: transparent !important;
}
.datedropper:disabled,
.timedropper:disabled {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}
.responsive-chat-section{
    display: none;
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.uploadButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}
.uploadButton .uploadButton-input {
    opacity: 0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}
.uploadButton .uploadButton-button {
    box-shadow: 0 3px 10px rgba(42,65,232,.1);
}

.uploadButton .uploadButton-button, .pricing-plan .button {
    color: #538A57;
    border: 1px solid #538A57;
}
.uploadButton .uploadButton-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 44px;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    flex-direction: row;
    transition: .3s;
    margin: 0;
    outline: 0;
}
.uploadButton .uploadButton-file-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding: 0 10px;
    padding-left: 18px;
    min-height: 42px;
    top: 1px;
    position: relative;
    color: #888;
    background-color: transparent;
    overflow: hidden;
    line-height: 22px;
}
.project-list .project-card .card {
    height: 217px;
}
.project-card .project-list-detalis p {
    font-size: 12px;
    color: #707c88;
    height: 44px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
}
.file-listing{
    display: none;
}
 .no-posted-project{
    display: block;
 }
 .responsive-chat-section{
    display: none;
 }
 .custom-file-upload{
    display: block;
 }
 .user-profile-photo img:nth-child(1) {
    width:100px;
    height: 100px;
    vertical-align: initial;
    border: 2px solid rgb(117, 117, 117);
}
.user-profile-photo img:nth-child(2) {
    width:100px;
    height: 100px;
}
.feedback-bottom-border{
    display: none;
}
.registration-user-section{
    padding: 35px;
}
.user-login-section{
    padding: 42px 42px 36px;
}
.writer-registration{
    padding: 35px;
}
 .uploadButton span.filename {
    font-weight: bold;
    margin-left: 7px;
    color: #117ab5;
}
.writer-header-custom h4{
    background-color: #fff;
}
.freelance-status.available {
    background: #01c73d;
    color: #ffffff;
}
.freelance-status.unavailable {
    background: #424242 !important;
    color: #ffffff;
}
.multiDatesPicker {
    height: 70px !important;
    font-size: 20px;
}
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.custom-file-upload a:hover {
    text-decoration: none;
    color: #5B6D79;
}
  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .chat li.left .chat-body{
      display: inline-block;
      background: #4a9ac8;
      color: #fff;
      padding: 8px 15px;
  }

  .chat li.right .chat-body{
      display: inline-block;
      background: #9dc637;
      color: #fff;
      padding: 8px 15px;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #fff;
    max-width: 300px;
    text-align: left;
  }

  .chat li.left{
      text-align: left;
  }
  .chat li.right{
      text-align: right;
      margin-right: 8px;
  }
  ul.chat {
      min-height: 250px;
      overflow-y: scroll;
      height: 300px;
  }
  ul.chat .panel-body {
    overflow-y: scroll;
    height: 350px;
  }
  ul.chat span.msg-time {
      font-size: 12px;
      color: #777;
  }
  .chat:-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #e5e7e8;
  }

  .chat::-webkit-scrollbar {
    width: 5px;
    background-color: #e5e7e8;
  }

  .chat::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #e5e7e8;
  }
.badge-success {
    color: #fff;
    background-color: #96c228;
}
.app-logo {
    position: relative;
    padding-left:40px;
}
.login_user {
    position: absolute;
    top: 0px;
    right: 0;
    background: #94c124;
    color: #fff;
    padding: 8px 20px 8px 25px;
    font-size: 14px;
    font-weight: 500;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.attachment-box span.fileStatus {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    font-size: 11px;
    line-height: 1.6;
}
