.app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: #353535;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    min-width: 240px;
    height: 100%;
    padding: 0;
}
.app-sidebar ul.list-unstyled li a {
    padding-left: 45px !important;
}
.app-logo {
    background: #2d2d2d;
    border-bottom: 1px solid #424242;
}

.app-logo a {
    font-size: 20px;
    color: #fff;
    line-height: 35px;
}
.app-logo a:hover {
    text-decoration: none;
}
.app-sidebar .links {
    margin-top: 0px;
}
.app-sidebar.custom-sidebar li.nav-item {
    border-bottom: 1px solid #424242;
}

.app-sidebar.custom-sidebar li.nav-item .nav-link:hover{
    background: #272727;
}
.app-sidebar.custom-sidebar li.nav-item .nav-link.active{
    background: #272727;
    color: #fff !important;
}
.app-sidebar.custom-sidebar li.nav-item .nav-link{
    line-height: 16px;
    color: #fff;
    display: block;
    -ms-flex: 1;
    font-weight: 300;
    padding: 15px 20px;
    text-decoration: none;
}

.app-sidebar.custom-sidebar li.nav-item .dropdown-toggle.nav-link{
    position: relative;
}

.app-sidebar.custom-sidebar li.nav-item .dropdown-toggle.nav-link::after{
    right: 20px;
    position: absolute;
    top: 20px;
}

table thead tr{
    background:#2d2d2d;
}

table thead tr th{
    color:#fff;
}

.nav-pill-tabs a.nav-link {
    padding: 15px 30px;
    background: #f7f9fa;
    color: #595959;
    border-radius: unset !important;
    border-right: 1px solid #e4e6e6;
}

.full-time.Completed {
    padding: 3px 10px;
    font-size:12px;
    color:#fff;
  background: #95c127 !important;
}

.full-time.Pay {
    padding: 3px 10px;
    font-size:12px;
    color:#fff;
  background: #424242 !important;
}

.full-time.Posted {
    padding: 3px 10px;
    font-size:12px;
    color:#fff;
  background: #424242 !important;
}

.full-time.Ongoing {
    padding: 3px 10px;
    font-size:12px;
    color:#fff;
  background: #4f9dc9 !important;
}

.full-time.newrequest,
.full-time.Requested {
    padding: 3px 10px;
    font-size:12px;
    color:#fff;
  background-color: #78a210;
}

span.user-badge.available {
    background: #4b9bc8;
    padding: 5px 15px;
    border-radius: 50px;
    color: #fff;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.bg-success {
    background-color: #96c228 !important;
}