/*

	INSTRUCTIONS ---------------------------------------------------------------------------------

  1. link this stylesheet in the head of your HTML
  	 <link href="YOUR PATH/projectvala.css" rel="stylesheet" type="text/css" />

  2. Set the file name as data-theme attribute on your input
  	 <input data-theme="projectvala" />

  3. That's it!

  When you run script the style will be automatically applied.

*/
div.datedropper.projectvala {
  border-radius: 8px;
  width: 180px;
}
div.datedropper.projectvala .picker {
  border-radius: 8px;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}
div.datedropper.projectvala .pick-l {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.datedropper.projectvala:before,
div.datedropper.projectvala .pick-submit,
div.datedropper.projectvala .pick-lg-b .pick-sl:before,
div.datedropper.projectvala .pick-m,
div.datedropper.projectvala .pick-lg-h {
  background-color: #96c228;
}
div.datedropper.projectvala .pick-y.pick-jump,
div.datedropper.projectvala .pick li span,
div.datedropper.projectvala .pick-lg-b .pick-wke,
div.datedropper.projectvala .pick-btn {
  color: #96c228;
}
div.datedropper.projectvala .picker,
div.datedropper.projectvala .pick-l {
  background-color: #FFF;
}
div.datedropper.projectvala .picker,
div.datedropper.projectvala .pick-arw,
div.datedropper.projectvala .pick-l {
  color: #4D4D4D;
}
div.datedropper.projectvala .pick-m,
div.datedropper.projectvala .pick-m .pick-arw,
div.datedropper.projectvala .pick-lg-h,
div.datedropper.projectvala .pick-lg-b .pick-sl,
div.datedropper.projectvala .pick-submit {
  color: #FFF;
}
div.datedropper.projectvala.picker-tiny:before,
div.datedropper.projectvala.picker-tiny .pick-m {
  background-color: #FFF;
}
div.datedropper.projectvala.picker-tiny .pick-m,
div.datedropper.projectvala.picker-tiny .pick-m .pick-arw {
  color: #4D4D4D;
}
div.datedropper.projectvala.picker-lkd .pick-submit {
  background-color: #FFF;
  color: #4D4D4D;
}
