@media(max-width: 768px){
	.headline-details{
		display: none !important;
	}
	.hidden-on-mobile{
		display: none;
	}
	.app-content {
		margin-top: 50px;
		/*margin-bottom: 50px;*/
	}
	.left-right-spacing{
		margin-left: 0px;
		margin-right: 0px;
	}
	.registration-user-section{
    	padding: 25px;
	}
	.user-login-section{
	    padding: 25px;
	}
	.login-card-section-custom .form-check-input {
    	margin-top: 15px !important;
	}
	.forget-password-section .card-header{
		display: none;
	}
	.writer-registration{
    	padding: 25px;
	}
	.user-profile-edit{
		display: none;
	}
	.hidden-on-mobile {
		display: none !important;
	}

	.card {
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08) !important;
	}


	.fab {
		display: block !important;
	}

	.modal {

		margin: -11px !important;
	}

	aside.custom-sidebar{
		display: none !important;
	}
	/*aside.custom-sidebar {
	  overflow: hidden;
	  background-color: #333;
	  position: fixed;
	  bottom: 0;
	  width: 100%;
	  z-index: 999;
	}
	aside.custom-sidebar img{
		display: none;
	}
	.app-sidebar {
	    position: fixed;
	    top: auto;
	    left: 0;
	    background: #F7F9FA;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    width: 240px;
	    min-width: 240px;
	    height: 25%;
	    padding: 0 0 0 0px;
	}*/
	.app-sidebar .links .nav-link {
	    padding: -2px 0;
	}
	.sidebar-margins {
    margin-left: 0;
	}
	.empty-box h4 {
    font-size: 22px;
	}
	.empty-box p {
    font-size: 14px;
	}
	.headline {
    display: inline-block;
    padding: 15px;
	}
	.no-project-logo img {
    width: 100px;
	}
	.empty-box {
    display: inline-block;
	}
	.sidebar-margins {
     margin-right: 0px;
	}
	.empty-box {
     width: 100%;
     margin-top: 10px;
	}
	.profile-user-form{
		margin-top: 20px;
		margin-bottom: 80px;
	}
	.profilr-user-update-section{
		/*padding-bottom: 100px;*/
	}
	.custom-input{
		width: 278px;
	}
	.user-custom-label{
		/*margin-top: 20px;*/
	}
	.user-password-change{
		/*margin-top: 20px;*/
		box-shadow: none !important;
		border:none !important;
	}
	.custom-tabs-project-section{
		margin-left: 15px;
	}
	.custom-tabs-project-section h2{
		font-size: 23px;
	}
	.custom-tabs-project-section nav{
		width: 90%;
    	margin-left: 3px;
    	margin-top: 22px;
	}
	.user-project-details{
		margin: 0px 0px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.user-list-writer{
		margin: 0px 0px;
	}
	.freelance-box-extra ul li {
    padding: 3px 12px;
	}
	.responsive-writer-profile{
		padding-top: 30px;
	}
	.custom-project-gatway h2{
		margin-left: 15px !important;
	}
	.custom-project-gatway nav{
		width: 80%;
	}
	.custom-project-gatway nav ol{
		margin-left: 15px;
    	margin-top: 15px;
	}
	.responsive-writer-profile-description .headline {
    	border:none;
	}
	.responsive-writer-profile-description .headline {
     	padding: 0px;
     	margin-bottom: 20px;
	}
	.responsive-writer-profile-description .apply-job-detail {
     margin-bottom: 5px;
     width: 100%;
	}
	.responsive-writer-profile-description .apply-job-header {
    margin-bottom: 40px;
    margin-top: 20px;
	}
	.responsive-writer-profile-description{
		padding: 15px;
	}
	.responsive-writer-profile-description .attachments-container-responsive button{
		margin-bottom: 50px;
	}
	.responsive-writer-profile-description .attachments-container-responsive{
		margin-top: 20px;
		/*margin-bottom: 30px;*/
	}
	label {
    	margin-top: 10px;
	}
	.custom-project-edit-details h2{
		margin-left: 15px !important;
	}
	.custom-project-edit-details nav{
		width: 285px;
	}
	.custom-project-edit-details nav ol{
		margin-left: 15px;
    	margin-top: 15px;
	}
	.custom-card-footer button{
		margin-bottom: 10px;
	}
	.user-no-feedback{
		margin-bottom: 50px;
	}
	.writer-feedback-section{
		/*padding: 20px;*/
	}
	.feedback-bottom-border{
		display: block;
	}
	.star-rating-custom{
		margin-top: 15px;
	}
	.writer-feedback-display{
		/*margin-top: 20px;*/
    	padding-bottom: 20px;
	}
	.writer-feedback-section .row{
		margin-right: 0px;
		margin-left: 0px;
	}
	.writer-feedback-display .card{
		box-shadow: none !important;
    	border:none !important;
	}
	.custom-project-gatway nav{
		display: none;
	}
	.custom-project-edit-details nav{
		display: none;
	}
	.custom-project-show-details nav{
		display: none;
	}

	.paper-shadow {
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	}

	.paper-toolbar {
	  color: #fff;
	  background: #4caf50;
	}
	.paper-toolbar a:hover {
    	text-decoration: none !important;
	}

	.app-bar, .navdrawer-container, main {
	  -webkit-transition: -webkit-transform 0.3s ease-out;
	  transition: transform 0.3s ease-out;
	}

	.promote-layer {
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	}

	.app-bar-container {
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  width: 100%;
	  height: 56px;
	  position: relative;
	  -webkit-flex-direction: row;
	  -ms-flex-direction: row;
	  flex-direction: row;
	  margin: 0 auto;
	}

	.app-bar {
	  display: block;
	  width: 100%;
	  position: fixed;
	  top: 0;
	  left: 0;
	  overflow: hidden;
	  z-index: 1;
	  margin-bottom: 40px;
	}

	.app-bar .logo {
	  -webkit-flex: 1;
	  -ms-flex: 1;
	  flex: 1;
	  font-size: 17px;
	  margin: 1px 0px;
	  padding: 0;
	  color: #fff;
	  float: none;
	  max-width: none;
	  font-weight: bold;
	  line-height: 55px;
	  margin-left: 18px;
	  letter-spacing: 2px;
	}

	.app-bar button {
	  width: 40px;
	  height: 64px;
	  background-image: none;
	  background-color: transparent;
	  border: none;
	  padding: 0;
	  -webkit-transition: background-color 0.2s ease-out;
	  transition: background-color 0.2s ease-out;
	  -webkit-tap-highlight-color: transparent;
	}

	button.menu img {
	  height: 24px;
	  width: 24px;
	}


	.project-card {
		padding-left: 7px;
		padding-right: 7px;
	}

	.page-heading {
		display: none !important;
	}

	.py-r-0 {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.nav-pills-projectvala {
		justify-content: space-between;
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
	}

	.nav-pills-projectvala .nav-item {
		flex: 1;
	}

	.nav-pills-projectvala a.nav-link {
		color: #000;
		font-size: 15px;
		text-align: center;
		background-color: #fff;
		border-right: none !important;
		padding-top: 16px !important;
		padding-bottom: 10px !important;
	}

	.nav-pills-projectvala a.nav-link.active {
		color: #000;
		font-size: 15px;
		text-align: center;
		background-color: #fff;
		border-bottom: 2px solid #4b9bc8;
	}
	.no-posted-project{
		display: none;
	}
	.user-profile-details{
		display: none;
	}
	.file-listing{
		display: block;
	}
	.msg_send_btn {
	    border-radius: 0%;
	    color: #fff;
	    font-size: 15px;
	    height: 49px;
	    position: absolute;
	    width: 63px;
	    bottom: 5px;
	    top: unset;
	}
	.custom-responsive-chat-input{
		width: 84% !important;
	}
	.chat-section-custom{
		display: none;
	}
	.responsive-chat-section {
   		padding: 0px;
	}
	.responsive-chat-section{
		display: block;
	}
	.responsive-chat-section ul li.chat-left-section{
		background: #fff;
	    display: inline;
	    padding: 8px;
	    float: left;
	    border-radius: 9px;
	}
	.responsive-chat-section{
		padding: 0;
	}
	.chat-left-section{
		max-width: 220px;
		word-break: break-all;
		white-space: normal;
		height: auto;
		text-align: left;
	}
	.chat-right-section{
		max-width: 220px;
		word-break: break-all;
		white-space: normal;
		height: auto;
		text-align: right;
	}
	.responsive-chat-section ul li.chat-right-section{
		background: #fff;
	    display: inline;
	    padding: 8px;
	    border-radius: 9px;
	    float: right;
	    margin-top: 20px;
	}
	.input_msg_write input {
	    min-height: 54px;
	    padding: 12px;
 	}
 	.msg_send_btn {
	    /*right: 12px;*/
	}
	/*.custom-file-upload{
		display: none;
	}*/
	.custom-file-upload {
      margin-bottom: 0px;
	}
	.msg_send_btn {
    	background: #4caf50 none repeat scroll 0 0 !important;
	}
	.project-file-topic{
		display: none;
	}
	.desktop-project-card{
		display: none;
	}
	.profilr-user-update-section{
		/*height: 100vh;*/
	}
	.users-profile-details p.font-weight-bold{
		font-size: 17px !important;
	}
	.users-profile-details{
		margin-top: 45px;
		margin-left: 6px;
	}
	.freelance-writer-status .freelance-status {
	    left: 15px;
	    padding: 4px 13px;
	}
	.users-profile-details p{
		font-size: 14px !important;
	}
	.user-profile-tab-section{
		height: 60vh;
	}
	.star-on-png, .star-off-png, .star-half-png {
    font-size: 14px !important;
	}
	.user-profile-photo img:nth-child(2) {
    	width: 70px;
    	height: 70px;
	}
	.status-profile{
		display: none;
	}
	.profile-user-form{
		display: none;
	}
	a.btn.btn-change-photo {
    	font-size: 11px;
    	padding: 3px 5px 2px 7px !important;
	}
	.user-card-view{
		box-shadow: none !important;
	}
	.user-security-view{
		display: none;
	}
	.user-feedback-view{
		display: none;
	}
	.user-profile-sidebar{
		display: none;
	}
	.profile-user-card-details .card{
		box-shadow: none !important;
		border:none !important;
	}
	.profile-user-card-details{
		padding: 0px !important;
	}
	.profile-user-card-details .card-body{
		padding: 0px !important;
		margin-top: 5px;
	}
	.user-profile-toggle{
		margin-left: 12px;
	}
	button.user-profile-toggles{
		margin-left: 14px;
	    margin-bottom: 12px;
	    width: 91%;
	}
	button.user-security-toggles{
	    margin-bottom: 12px;
	    width: 100%;
	}
	.user-password-change .card-body{
		padding: 0px !important;
		margin-top: 5px;
	}
	.shadow-boder-none{
		box-shadow: none !important;
		border:none !important;
	}
	.hire-writer-profile{
		display: none !important;
	}
	.writer-header-custom h4{
		padding-top: 25px;
		padding-bottom: 10px;
	}
	.solve-quize-button{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.uploadButton .uploadButton-file-name{
		top: 0;
	}
	.documents-for-verification{
		display: none;
	}
	.custom-writer-list{
		margin-top: 10px;
	}
	.user-profile-heading{
		display: none !important;
	}
	.project-file-upload{
		margin-right: 0px !important;
	}
	.profilr-user-update-section .row{
		margin-left: 0px;
		margin-right: 0px;
	}
	.bottom-nav__action:not(:last-child) {
     	margin-right: 0px;
	}
	.bottom-nav__action {
    	padding-left: 0px;
  	}
  	.bottom-nav__action:not(:last-child) {
    	text-align: center;
    	font-size: 28px;
  	}
  	.bottom-nav__action {
	    text-align: center;
	    font-size: 28px;
  	}
  	.bottom-nav__action--active {
        padding-top: 0px;
	}
	.bottom-nav__action {
        padding-top: 0px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
  .project-list .project-card .card {
    	height: 248px;
	}
	.responsive-writer-profile-description .attachments-container-responsive {
     margin-top: 0px;
	}
	.freelance-status {
	    left: 10px;
	    padding: 4px 7px;
	    font-size: 12px;
	}
	.flc-rate {
	    right: 21px;
	    top: 18px;
	    font-size: 16px;
	}
	.project-file-tab{
		margin-left: 30px;
	}
	.project-file-delete-btn a{
		font-size: 26px;
    	padding-left: 15px;
    	padding-right: 15px;
    	margin-top: 15px;
	}
}
