@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


.wizard > .steps ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wizard > .steps {
      margin-bottom: 25px;
    margin-top: 10px;
}
.wizard > .steps li.checked a {
    background: #6d7f52;
}


.wizard > .steps li.first a {
    background: #6d7f52;
}
.wizard > .steps li a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e9e0cf;
    margin-right: 78px;
    position: relative;
}
.wizard > .steps .current-info, .wizard > .steps .number {
    display: none;
}
.wizard > .steps .current-info, .wizard > .steps .number {
    display: none;
}



.wizard > .steps .current-info, .wizard > .steps .number {
  display: none; }

.wizard > .steps ul {
  display: flex;
  justify-content: center; }

.wizard > .steps li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e9e0cf;
  margin-right: 78px;
  position: relative; }
  .wizard > .steps li a:before {
    content: "";
    width: 58px;
    height: 2px;
    background: #e9e0cf;
    position: absolute;
    right: 22px;
    top: 5px; }
  .wizard > .steps li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #6d7f52;
    position: absolute;
    left: -68px;
    top: 5px;
    transition: all 0.6s ease; }
.wizard > .steps li.first a {
  background: #6d7f52; }
.wizard > .steps li.checked a {
  background: #6d7f52; }
  .wizard > .steps li.checked a:after {
    width: 58px; }
.wizard > .steps li:last-child a {
  margin-right: 0; }
.wizard > .steps li:first-child a:before {
  display: none; }
.wizard > .steps li:first-child a:after {
  display: none; }

.wizard > .content {
  position: relative;
  height: auto; }

  .actions {
  position: absolute;
  bottom: 55px;
  right: 51px; }
  .actions ul {
    display: flex; }
  .actions li a {
    padding: 0;
    border: none;
    display: inline-flex;
    height: 41px;
    width: 135px;
    align-items: center;
    background: #e9e0cf;
    font-family: "Muli-SemiBold";
    color: #666;
    cursor: pointer;
    position: relative;
    padding-left: 28px; }
    .actions li a:before {
      content: '\f301';
      position: absolute;
      top: 14px;
      right: 28px;
      font-family: Material-Design-Iconic-Font; }
    .actions li a:hover {
      background: #cfc7b8; }
  .actions li:first-child a {
    width: 144px;
    padding-left: 48px; }
    .actions li:first-child a:before {
      content: '\f2ff';
      position: absolute;
      top: 14px;
      left: 26px;
      font-family: Material-Design-Iconic-Font; }
  .actions li:nth-child(2) a, .actions li:last-child a {
    margin-left: 20px; }
  .actions li:last-child a {
    width: 124px;
    background: #6d7f52;
    color: #fff; }
    .actions li:last-child a:hover {
      background: #849963; }
    .actions li:last-child a:before {
      content: '\f26b';
      position: absolute;
      top: 13px;
      right: 28px;
      font-family: Material-Design-Iconic-Font; }
  .actions li[aria-disabled="true"] a {
    opacity: 0;
    transition: all 1s; }
  .actions li[aria-disabled="false"] ~ li a {
    background: #6d7f52;
    color: #fff; }
    .actions li[aria-disabled="false"] ~ li a:hover {
      background: #849963; }
      .actions {
    position: absolute;
    bottom: 0px;
    top: 700px;
    right: 525px;
}
.steps .clearfix{
}