<template>
    <ul class="chat">
        <li class="left clearfix" >
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        Rushikesh
                    </strong>
                </div>
                <p>
                    hii
                </p>
            </div>
        </li>
        <li class="left clearfix" >
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">
                        Ganesh
                    </strong>
                </div>
                <p>
                    hello
                </p>
            </div>
        </li>
    </ul>
</template>

<script>
  export default {
    props: ['messages']
  };
</script>